<section class="footer">
  <div class="container">
    <span class="footer-item">Text is available under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></span>
    <span class="footer-item">Created by <a href="<%= config.author_link %>"><%= config.author %></a></span>
    <span class="footer-item">Powered by <a href="https://hexo.io">Hexo</a></span>
    <span class="footer-item">Themed by <a href="<%= theme.link %>"><%= theme.name %></a></span>
    <span class="footer-item">Hosted by <a href="https://pages.github.com/">GitHub Pages</a></span>
  </div>
</section>
