<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= (page.title ? (page.title + ' | ') : '') + config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="favicon.png"/>
  <%- css('css/normalize.css') %>
  <%- css('css/index.css') %>
</head>
